<video autoplay muted loop>
		<source src="public/css/img/346061251.mp4" type="video/mp4">
	</video>

<div class="main">
		<h1>Add a Person</h1>

	<div class="container">
<%= erb :"/people/_form" %>

</div>

</div>