	<div class="main">




<h1><%= "#{@person.first_name} #{@person.last_name}" %></h1>
<h3><%= "Birthdate: #{@person.birthdate.strftime("%-m/%-d/%Y")}" %></h3>

<div class="container">
		<div class="message">
		
			<h3 class="birth-msg"><%= @message %></h3>
			</div>
		

</div>
</div>
