<!DOCTYPE HTML>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="http:fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/style.css">
<meta charset="utf-8">
<head>
<title>Numerology App</title>
</head>

<body>

<div class="header">
<ul class="pull-right">
	<li><a href="/">Play Game</a></li>
	<li><a href="<%= "/people" %>">View People</a></li>
	<li><a href="<%= "/people/new" %>">Add Entry</a></li>
</ul>
</div>
<%= yield %>

</body>
</html>