	<div class="main">
		<h1>The stars say:</h1>


	<div class="container">
	<div class="message">
			<h3 class="birth-msg"><%= @message %></h3>
</div>
			<a href="<%= "/" %>" class="btn btn-default">Play again!</a>

	</div>
	</div>